{% extends 'base.html.twig' %}
{% block headerText %}
    <div class="maintenance-title">{{ 'MAINTENANCE_TITLE'|trans }}</div>
    <div class="maintenance-message">{{ 'MAINTENANCE_MESSAGE'|trans }}</div>
{% endblock %}
