{% extends 'base.html.twig' %}
{% block headerText %}
  <div class="thanks-message">{{ 'THANKS_MESSAGE'|trans }}</div>
  <div class="success-message">{{ 'SUCCESS_MESSAGE'|trans }}</div>
{% endblock %}
